.vscode/*
doc/thesis/thesis.ist
doc/thesis/thesis.ilg
doc/thesis/thesis.ist
doc/thesis/thesis.loa
doc/thesis/thesis.lot
doc/thesis/thesis.lof
doc/thesis/thesis.toc
training_data/*
logfile*
.VSCodeCounter/*
eval/*.csv
eval/*.txt
*.txt
*.csv
logs/*
!logs/.gitkeep
